{% extends "shared/base.html" %}

{% block title %}
    پروفایل خود را ویرایش کنید
{% endblock title %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="jumbotron text-center" style="width:100%; height:100%;">
                <h1>ویرایش پروفایلتان</h1>
                <p>شما می توانید با استفاده از فرم زیر پروفایل خود را ویرایش کنید:</p>
                <!--We	include	enctype="multipart/form-data"	in	our	form	to	enable	file uploads-->
                <form action="." method="post" enctype="multipart/form-data">
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="ذخیره"></p>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}