{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Slabo+27px" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-contact-us.css' %}">
    <title>ارتباط با ما</title>
</head>

<body>
    {% block nav %}
    {% include "partials/navigation.html" %}
    {% endblock nav %}

    <div class="container-fluid">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="heading">
        </div>
        <div class="row">
            <div class="col-lg-6">
                <!-- <form action="" method="POST">
                    <input type="text" placeholder="نام و نام خانوادگی">
                    <input type="email" placeholder="ایمیل">
                    <input type="text" placeholder="موضوع">
                    <textarea name="message" cols="30" rows="7" placeholder="پیام خود را اینجا بنویسید"></textarea>
                    <button type="submit" class="btn btn-outline-dark btn-lg btn-block">ارسال</button>
                </form>  -->
                <form action="" method="POST">
                    {{form.as_p}}
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit" style="float:left; margin-left:20px;">ذخیره</button>
                </form>
            </div>

            <div class="col-lg-6">
                <div class="left">
                    <div class="google-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12855.16140202089!2d59.520747355232736!3d36
                                .34163060085511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f6c8d9aa03312e5%3A0x598819d47cb4994f!
                                2sRazavi+Khorasan+Province%2C+Mashhad%2C+District+11%2C+Jalal+Al-e-Ahmad+Boulevard%2C+No.+64%2C+Iran!5e0!3m2!1sen!2s!4v1558187943645!5m2!1sen!2s"
                            width="531" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="info">
                        <h3>آدرس: مشهد - جلال آل احمد 64 - پلاک 64</h3>
                        <h3>شماره تماس: 98513893455+ - 915105972198+</h3>
                        <h3>فکس: 98513893455+</h3>
                        <div class="social-icons">
                            <li class="icon-item">
                                <a href="#" class="icon-link"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="icon-item">
                                <a href="#" class="icon-link"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li class="icon-item">
                                <a href="#" class="icon-link"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="icon-item">
                                <a href="#" class="icon-link"><i class="fab fa-google-plus-g "></i></a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/app-contact-us.js' %}"></script>
</body>

</html>