{% extends "shared/base.html" %}
{% load static %}


{% block title %}ورود{% endblock %}

    {% block body%}
    {% if form.errors %}
    <p>
        نام کاربری و رمز عبور شما اشتباه است.
        لطفا دوباره تلاش کنید.
    </p>
    {% endif %}
    <div class="login-form">
        <div class="login-header">
            <h4>ورود به حساب کاربری</h4>
        </div>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" , value="{{ next }}">
            <p><input type="submit" class="submit" value="ورود"></p>
        </form>
        {% comment %} <p style="float:right; padding: 0px 30px;"><a href="{% url 'account:password_reset' %}">رمز عبور خود را فراموش
                کرده
                اید؟
            </a>
        </p><br> {% endcomment %}
        <hr style="background-color:#fff; margin: 5px 5px;">
        <div style="float:right;">
            کاربر جدید هستید؟
            <a href="{% url 'account:register' %}">اینجا کلیک نمایید</a>
        </div>
    </div>
    {% endblock %}
{% block footer %}
{% endblock footer %}